Repository TeamPGM/PagerMaid_Plugins_Pyro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamPGM/admin, @guimc233, @zhxycn, @cloudreflection

.github/CODEOWNERS:

* @TeamPGM/admin
dc/ @guimc233
bin/ @zhxycn
pmcaptcha/ @cloudreflection
premium/ @guimc233

pmcaptcha 功能性更新
  pmcaptcha/main.py
Owners: @cloudreflection

pmcaptcha
  list.json
Owners: @TeamPGM/admin

'Refactored by Sourcery'
  pmcaptcha/main.py
Owners: @cloudreflection

Create main.py
  sticker/main.py
Owners: @TeamPGM/admin

Update
  list.json
Owners: @TeamPGM/admin

'Refactored by Sourcery'
  sticker/main.py
Owners: @TeamPGM/admin

'Refactored by Sourcery'
  sticker/main.py
Owners: @TeamPGM/admin

Plug-in: Sticker -> Fix Code
  sticker/main.py
Owners: @TeamPGM/admin

Plug-in: Sticker -> Fix some issues
  sticker/main.py
Owners: @TeamPGM/admin

Plug-in: Sticker -> Update list.json
  list.json
Owners: @TeamPGM/admin

eat 修复问题
  eat/main.py
  list.json
Owners: @TeamPGM/admin

Plug-in Sticker -> Fix some issues
  list.json
  sticker/main.py
Owners: @TeamPGM/admin

Plug-in: yvlu
  yvlu/main.py
  yvlu/mask.png
  yvlu/mask1.png
  yvlu/p1.png
  yvlu/p2.png
  yvlu/p3.png
  yvlu/p4.png
Owners: @TeamPGM/admin

Plug-in: yvlu, autochangename -> Fix some issues
  autochangename/main.py
  list.json
Owners: @TeamPGM/admin

Update list.json for yvlu, autochangename
  list.json
Owners: @TeamPGM/admin

Plug-in: yvlu -> Fix some issues
  list.json
  yvlu/main.py
Owners: @TeamPGM/admin

Plug-in yvlu -> F**k Cache
  yvlu/main.py
Owners: @TeamPGM/admin

yvlu 删除
  list.json
Owners: @TeamPGM/admin

vip 使用 conversation 重写
  list.json
  vip/main.py
Owners: @TeamPGM/admin

pmcaptcha 忽略认证消息
  list.json
  pmcaptcha/main.py
Owners: @TeamPGM/admin, @cloudreflection

yvlu 生成语录
  list.json
  yvlu/main.py
Owners: @TeamPGM/admin

新增验证错误信息收集以供改进
  pmcaptcha/main.py
Owners: @cloudreflection

bug fixed
  sticker/main.py
Owners: @TeamPGM/admin

pmcaptcha stickers
  list.json
Owners: @TeamPGM/admin

'Refactored by Sourcery'
  pmcaptcha/main.py
Owners: @cloudreflection
